@import 'variables';
@import 'functions';
@import 'mixins';

:host {
  margin: 0 auto;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 106.275 50.912'%3E%3Cpath fill='#{encodecolor($red--200)}' d='m.372 46.76 1.43 2.809a2.458 2.458 0 0 0 2.19 1.343h99.825c1.358 0 2.458-1.1 2.458-2.458V7.574c0-.289-.05-.574-.15-.845l-2.035-5.564-.437 46.033z'/%3E%3Cpath fill='#{encodecolor($red--110)}' d='M3.16 0h98.53c1.728 0 3.128 1.4 3.128 3.129v42.105c0 1.728-1.4 3.129-3.128 3.129H3.24a3.126 3.126 0 0 1-3.128-3.108C.065 36.518-.058 11.81.032 3.092A3.125 3.125 0 0 1 3.161 0'/%3E%3C/svg%3E%0A")
    center center no-repeat;
  background-size: contain;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  width: 55vw;
  height: 30vh;
  min-height: 260px;
  margin-top: -18px;
  max-width: 1200px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 2.2%;
    right: 3.4%;
    top: 6%;
    bottom: 9.5%;
    background: $orange;
    background: linear-gradient(215deg, $orange 0%, $orange--saturated 50%);
    box-shadow: rgba(0, 0, 0, 0.05) -3px -3px 6px 1px inset;
    border-radius: 20px;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 106.275 50.912'%3E%3Cg fill='#{encodecolor($red--200)}'%3E%3Cpath d='M2.05 43.51 1.973 5.7s.17-2.773 3.013-2.773H37.42L7.108 4.795s-2.884-.143-2.884 2.452C4.224 9.12 2.05 43.51 2.05 43.51M78.532 46.42h21.332s3.012-.183 3.012-2.928v-8.031s-.6 4.806-1.178 7.21c-.184.77-.48 1.826-3.46 2.306-2.073.334-19.706 1.442-19.706 1.442'/%3E%3C/g%3E%3C/svg%3E")
      center center no-repeat;
    background-size: contain;
  }
}

.middle {
  position: absolute;
  left: 50%;
  width: 15vw;
  max-width: 150px;
  transform: translateX(-50%);
  top: 6%;
  bottom: 9%;
  font-weight: 600;
  color: $red--300;
  z-index: 1;
  &__top {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background: $orange--desaturated;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
  }
  &__instructions {
    background: $orange--desaturated;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -30%;
    width: 100%;

    button {
      @include physicalButton(
        $height: 35,
        $width: auto,
        $padding: 0 15%,
        $color: $red--110,
        $fontSize: 0.7rem
      );
      box-shadow: rgba(0, 0, 0, 0.24) 0px -3px 8px;
    }
  }
  &__bottom {
    box-shadow: rgba(0, 0, 0, 0.05) 0px -1px 2px 0px;
    background: $orange--desaturated;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
  }
  &__buttons {
    position: absolute;
    z-index: 2;
    bottom: 6%;
    left: -20px;
    right: -20px;
  }
}
