@import 'variables';

:host {
  display: block;
  border-radius: 20px;
  background: $red--desaturated;
  border-left: 4px solid $red--200;
  border-bottom: 4px solid $red--200;
  padding: 4px;
  position: absolute;
  right: 3vw;
  top: 50%;
  transform: translate(0, -50%);
  width: 16vw;
  box-sizing: border-box;
  overflow: hidden;
}

video {
  display: block;
  object-fit: cover;
  aspect-ratio: 4/3;
  box-sizing: border-box;
  border: 4px solid $red--200;
  border-radius: 10px;
  // trick to flip the video
  transform: scaleX(-1);
}
