<div class="instructions" #instructions [scrollTop]="instructions.scrollHeight">
  <h1>Welcome to Snake using Angular and Tensorflow!</h1>
  <p>
    This game demonstrates the power of combining Angular and Tensorflow to
    build highly interactive and reactive applications. To play, we need access
    to your camera as your hand is the controller!
  </p>

  <h2>How to Play</h2>

  <p>
    To control the snake, use only 1-hand (preferablly your right) and a single
    digit (thumb or index finger recommended) to point in the direction that you
    want the snake to go.
  </p>

  <ng-container *ngIf="modal">
    <p>Give it a try by pointing to the right and let’s play!</p>

    <div
      class="instructions__video"
      [ngClass]="{ 'instructions__video--initialized': controlsInitialized }"
    >
      <video
        snakeCameraFeed
        snakeHandDetector
        width="320"
        height="240"
        (directionChange)="directionChange($event)"
      ></video>
    </div>

    <button
      [disabled]="!controlsInitialized"
      class="instructions__play"
      type="button"
      (click)="play()"
    >
      Play
    </button>
  </ng-container>

  <div id="accordionGroup" class="instructions__accordion">
    <h3>
      <button
        type="button"
        [attr.aria-expanded]="creditsExpanded"
        class="instructions__accordion__trigger"
        [ngClass]="{
          'instructions__accordion__trigger--expanded': creditsExpanded
        }"
        aria-controls="credits"
        id="creditsButton"
        (click)="toggleCredits()"
      >
        Source Code & Credits
        <span class="instructions__accordion__trigger__icon"></span>
      </button>
    </h3>
    <div
      id="credits"
      role="region"
      aria-labelledby="creditsButton"
      class="instructions__accordion__panel"
      [hidden]="!creditsExpanded"
    >
      <p>
        This game application was created by
        <a href="https://thisdot.co/" target="_blank">This Dot Labs</a>. You can
        checkout the source for this project at
        <a href="https://github.com/thisdot/angular-tensorflow-snake"
          >https://github.com/thisdot/angular-tensorflow-snake</a
        >.
      </p>

      <p>We have used a few graphic resources from the following sources:</p>
      <ul>
        <li>
          A Photo by
          <a
            href="https://unsplash.com/@philberndt?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            >Phil</a
          >
          on
          <a
            href="https://unsplash.com/photos/5i0GnoTTjSE?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            >Unsplash</a
          >
        </li>
        <li>
          An
          <a
            href="https://www.freepik.com/free-vector/modern-wooden-bookshelf-with-books-plants-interior_11053334.htm"
            >Image by macrovector</a
          >
          on Freepik
        </li>
        <li>
          An image by
          <a
            href="https://www.freepik.com/free-vector/retro-gaming-poster-template_11299051.htm"
            >Freepik</a
          >
        </li>
        <li>
          An
          <a
            href="https://www.freepik.com/free-vector/different-potted-houseplants-flat-vector-illustrations-set-indoor-flowers-plants-flowerpots-vases-alocasia-begonia-pots-isolated-white-background-interior-urban-jungle-concept_26921673.htm"
            >Image by pch.vector</a
          >
          on Freepik
        </li>
        <li>
          An image by
          <a
            href="https://www.freepik.com/free-vector/variety-wall-frames_823572.htm"
            >Freepik</a
          >
        </li>
        <li>
          A texture by
          <a
            href="https://seamless-pixels.blogspot.com/2012/07/seamless-wall-white-paint-stucco.html?m=1"
            >Seamless Pixels</a
          >
        </li>
      </ul>
    </div>
  </div>

  <button
    *ngIf="!modal"
    class="instructions__close"
    type="button"
    (click)="close()"
  >
    &times;
  </button>
</div>
