@import 'variables';
@import 'mixins';

$border-width: 1.5vw;
$border-width--inset: 0.8vw;

:host {
  display: block;
  position: relative;
  font-family: 'Press Start 2P', cursive;
  display: block;
  min-width: 60vw;
  min-height: 50vh;
  font-size: 0.6em;
  line-height: 2em;
  border: $border-width solid $blue;
  box-shadow: inset 0 0 0 $border-width--inset $blue--90;
  background-color: $blue--65;
  background: radial-gradient(circle, $blue--65 0%, white 50%, $blue--65 100%);
  color: $dark;
  box-sizing: border-box;
}

.instructions {
  margin: $border-width--inset;
  padding: 4em;
  box-sizing: border-box;
  overflow-y: scroll;
  height: calc(100% - $border-width--inset * 2);

  &__close {
    position: absolute;
    top: 2vw;
    right: 2vw;
    background: none;
    border: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    color: $red;
    text-shadow: 1px 1px 0 $dark;
    cursor: pointer;
    transition: color 0.2s ease-out, text-shadow 0.2s ease-out;
    &:hover {
      color: $red--200;
      text-shadow: 1px 1px 5px $red;
    }
  }

  &__video {
    border: 10px solid $green;
    box-shadow: inset 0 0 0 5px $green--90;
    width: fit-content;
    padding: 5px 5px 0 5px;
    box-sizing: border-box;
    position: relative;

    &::after {
      content: '✔';
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background: linear-gradient(to bottom, $green, $green--90);
      color: white;
      font-size: 4em;
      transition: opacity 0.3s ease-out;
    }

    &--initialized {
      &::after {
        opacity: 0.6;
      }
    }

    video {
      transform: scaleX(-1);
    }
  }

  &__play {
    @include physicalButton(
      $height: 50,
      $width: 350,
      $color: $green,
      $fontSize: 1.2rem
    );

    margin: 1em 0;

    &[disabled] {
      filter: grayscale(100%);
    }
  }

  &__accordion {
    &__trigger {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      border-bottom: 2px solid $blue;
      font-family: 'Press Start 2P', cursive;
      background-color: transparent;
      padding: 2em 1.5em;
      width: 100%;
      text-align: left;
      color: $blue;
      text-shadow: none;
      // text-transform: uppercase;
      transition: background-color 0.2s ease-out, text-shadow 0.2s ease-out,
        color 0.2s ease-out;
      cursor: pointer;

      &__icon {
        display: block;
        width: 10px;
        height: 10px;
        transform: rotate(0);
        transition: transform 0.2s ease-out;
        margin-right: 1em;
        @include triangle(
          $direction: right,
          $size: 10,
          $color: $blue,
          $strokeColor: $blue
        );
      }

      &:hover,
      &--expanded {
        background-color: $blue--90;
        color: white;
        text-shadow: 1px 1px 0 $dark;
        .instructions__accordion__trigger__icon {
          transform: rotate(90deg);
          @include triangle(
            $direction: right,
            $size: 10,
            $color: white,
            $strokeColor: $dark
          );
        }
      }
    }
    &__panel {
      overflow: hidden;
      padding: 0 1.5em;
    }
  }
}

ul {
  list-style: none;
  li {
    &::before {
      content: '◇';
      margin-right: 0.5em;
    }
  }
}

h1 {
  font-size: 2.2em;
  line-height: 2em;
  text-transform: uppercase;
  color: $yellow;
  text-shadow: 1px 1px 0 $dark;
}

h2 {
  font-size: 2em;
  line-height: 2em;
  text-transform: uppercase;
  color: $green;
  text-shadow: 1px 1px 0 $dark;
  margin-top: 1em;
}

p {
  margin: 2em 0;
}
