<div class="instructions">
  <h1>Instructions</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae quam eu
    nibh placerat gravida vel et elit. Donec commodo semper velit. In dui lorem,
    pellentesque sit amet libero faucibus, molestie porttitor libero. Cras
    consequat justo ac leo placerat fermentum. Ut vestibulum sem vel dolor
    hendrerit malesuada. Donec imperdiet ex diam, quis eleifend nunc sagittis
    eu. Sed a maximus nisl.
  </p>

  <p>
    Cras dolor sem, tempus quis risus non, posuere fermentum nunc. Nulla
    facilisi. Ut egestas, arcu sit amet pharetra gravida, lacus odio malesuada
    purus, at consectetur dolor est vel ante. Curabitur vel enim dolor. Donec
    vehicula, enim porta placerat pretium, justo mi pharetra orci, non tincidunt
    orci massa ut ante. Aenean ac sodales nisl, id varius elit. Donec hendrerit,
    mi eget volutpat molestie, nulla sem finibus est, at ultricies risus orci ut
    nibh. Fusce tellus neque, tincidunt sit amet libero quis, ullamcorper
    blandit nisl. Nam aliquet in sapien sit amet pellentesque. Orci varius
    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Nam quis lacus justo. Morbi a luctus orci.
  </p>

  <p>
    Cras mollis neque dictum est ultrices, in interdum dui vulputate. Vestibulum
    ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
    Aliquam condimentum dolor at dui egestas rutrum. Duis mattis magna quis
    tellus volutpat ornare. Sed tincidunt eros diam, id congue eros suscipit
    non. Nam non nulla sed ante auctor accumsan a in nibh. Curabitur tincidunt
    nulla pulvinar purus tempor, vitae sollicitudin nunc molestie. Suspendisse
    suscipit massa magna, id congue nibh pulvinar et. Quisque tincidunt sapien
    lacus, at finibus enim porta finibus. Aliquam congue placerat eros ut
    blandit. Quisque malesuada vitae lectus sed congue. Nulla quis diam ante.
    Suspendisse finibus ligula magna, vel facilisis est gravida sed.
  </p>

  <p>
    Fusce ac mi sed libero egestas egestas et elementum nunc. Vivamus accumsan
    commodo ante, nec aliquet ante commodo ac. Praesent feugiat imperdiet nulla,
    in viverra lectus sollicitudin ut. Proin nec purus in lorem bibendum
    hendrerit id in augue. Aenean erat elit, molestie ac mauris a, dictum tempor
    ligula. In ut nunc efficitur, malesuada ipsum nec, feugiat leo. Donec sed
    ante sollicitudin, molestie nulla sed, feugiat libero. Mauris mauris odio,
    convallis eu fermentum vel, aliquet et lectus. Pellentesque tempor congue
    augue ac semper. Maecenas dictum feugiat ipsum, in fermentum sem finibus ut.
    Cras vel accumsan orci. Aenean pharetra erat ligula, vel laoreet mauris
    blandit eget.
  </p>

  <p>
    Suspendisse imperdiet, enim id interdum egestas, nisl dui sagittis arcu, sit
    amet lacinia odio purus nec sem. Cras maximus leo vitae augue finibus
    elementum. Vestibulum mattis nulla a orci sollicitudin tincidunt. Curabitur
    commodo nisl et metus interdum ornare. Pellentesque a placerat tortor, in
    sagittis mauris. Phasellus viverra risus arcu, nec efficitur lorem pulvinar
    sit amet. Ut eu mi feugiat justo dignissim blandit. In vitae efficitur
    dolor. Praesent consectetur risus metus, at pharetra ante ultrices id. Ut
    euismod fermentum ligula ut egestas. Proin sodales, nunc eu consectetur
    mollis, nulla velit hendrerit dolor, a mollis lectus sapien non velit.
    Vestibulum eu arcu a felis suscipit varius. Pellentesque cursus facilisis
    velit, vitae faucibus nunc ultricies sit amet. Suspendisse quis diam at
    mauris condimentum sollicitudin. Pellentesque sagittis eu urna ut euismod.
  </p>
</div>

<button class="instructions__close" type="button" (click)="close()">
  &times;
</button>
