@import 'variables';
@import 'breakpoints';

:host {
  display: flex;
  flex-direction: column;

  &::before,
  &::after {
    display: block;
    content: '';
    position: absolute;
    background-size: contain;
    max-height: 60vh;
  }

  &::after {
    width: 25vw;
    height: 25vw;
    background: url('/assets/images/bookshelf.svg') right top no-repeat;
    right: 1vw;
    bottom: 35vh;
    filter: drop-shadow(-10px 0px 20px rgba(0, 0, 0, 0.5));
  }

  &::before {
    width: 18vw;
    height: 18vw;
    background: url('/assets/images/bookshelf2.svg') left top no-repeat;
    left: 2vw;
    bottom: 50vh;
    max-height: 50vh;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
  }
}

.board {
  display: block;
  min-width: 50%;
  flex: 1;
}

@include media($tablet) {
  :host {
    &::before,
    &::after {
      display: none;
    }
  }
}
