@import 'variables';

:host {
  display: flex;
  flex-direction: column;

  &::before,
  &::after {
    display: block;
    content: '';
    position: absolute;
    background-size: contain;
  }

  &::after {
    width: 25vw;
    height: 25vw;
    background: url('/assets/images/bookshelf.svg') right top no-repeat;
    right: 1vw;
    top: 10vw;
    filter: drop-shadow(-10px 0px 20px rgba(0, 0, 0, 0.5));
  }

  &::before {
    width: 18vw;
    height: 18vw;
    background: url('/assets/images/bookshelf2.svg') left top no-repeat;
    left: 2vw;
    top: 6vw;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
  }
}

.board {
  display: block;
  min-width: 50%;
  flex: 1;
}
