@import 'variables';

@import 'reset';

@import 'fonts';

@import '@angular/cdk/overlay-prebuilt.css';

// some global styles
html,
body {
  height: 100%;
}
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  // background: rgb(90, 9, 183);
  background: radial-gradient(
    ellipse at top,
    rgb(255, 255, 255) 0%,
    rgb(223, 218, 227) 100%
  );
}
