@mixin physicalButton(
  $width: 50,
  $height: 18,
  $padding: 0,
  $color: #454344,
  $fontSize: 0.5rem
) {
  $color-darker: darken($color, 20%);
  $line-height: $height - 2;

  $widthPx: #{$width}px;

  @if ($width == auto) {
    $widthPx: auto;
  }

  cursor: pointer;
  position: relative;
  z-index: 2;
  margin: 10% 5px;
  border-radius: 3px;
  border: none;
  border-top: 1px solid $color-darker;
  border-bottom: 4px solid $color-darker;
  border-right: 1px solid $color-darker;
  background: $color;
  padding: $padding;
  width: $widthPx;
  height: #{$height}px;
  line-height: #{$line-height}px;
  font-size: $fontSize;
  color: lighten($color, 60%);
  text-shadow: 1px -1px 0 $dark;
  text-transform: uppercase;
  font-family: 'Sofia Sans Condensed', sans-serif;
  transition: all 0.15s ease-out;

  &:disabled {
    cursor: not-allowed;
    border-top-width: 3px;
    border-bottom-width: 2px;
    border-right-width: 2px;
  }

  &:hover:not(:disabled) {
    border-bottom-width: 3px;
    border-top-width: 2px;
  }

  &:active {
    border-top-width: 3px;
    border-bottom-width: 2px;
    border-right-width: 2px;
  }
}
