@import 'variables';
@import 'functions';

$screen-color: #1e1134;
$monitor-shade-color: #b4b8be;

:host {
  display: block;
  padding-bottom: 20px;
  position: relative;
  margin: 0 auto;
  max-height: 50vh;
  max-width: 100vw;
  aspect-ratio: 11/7;

  &::after {
    content: '';
    display: block;
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    box-sizing: border-box;
    background: $gray;
    border-top: 10px solid lighten($gray, 2%);
    border-right: 2px solid lighten($gray, 2%);
    border-bottom: 1px solid lighten($gray, 2%);
  }

  .display {
    display: block;
    position: relative;
    margin-top: 20px;
    background: rgb(180, 184, 190);
    background: radial-gradient(
      circle,
      rgba(180, 184, 190, 1) 0%,
      rgba(227, 238, 242, 1) 41%,
      rgba(237, 238, 244, 1) 82%
    );
    padding: 15px 18px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 40px -7px;

    &::before,
    &::after {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 51.188 114.201'%3E%3Cpath fill='#{encodecolor($monitor-shade-color)}' d='m0 114.2 51.188-42.536L0 0'/%3E%3C/svg%3E%0A")
        left top no-repeat;
      background-size: 25%;
      z-index: 1;
    }
    &::after {
      transform: scaleX(-1);
    }
  }
}

.game-board-wrapper {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 167.046 103.985'%3E%3Cpath fill='#{encodecolor($screen-color)}' d='M82.896.002c-1.074.002-2.147.009-3.22.018C63.46.158 47.48 1.042 34.112 2.76 20.742 4.475 9.982 7.024 4.201 10.492a45.87 45.87 0 0 0-1.322 4.35 69.674 69.674 0 0 0-1.063 4.983C.86 25.217.297 31.461.091 38.121-.116 44.781.034 51.856.5 58.91c.932 14.104 3.135 28.117 6.296 38.532 2.628 1.051 6.666 1.98 11.76 2.786 5.095.804 11.247 1.483 18.1 2.034 13.706 1.1 30.22 1.685 46.707 1.722 17.442.04 34.854-.534 48.879-1.756 7.012-.611 13.177-1.385 18.076-2.325 4.899-.94 8.53-2.047 10.476-3.326 3.162-7.067 5.124-21.33 5.887-36.602a292.75 292.75 0 0 0 .245-22.89c-.218-7.368-.736-14.213-1.554-19.763a73.857 73.857 0 0 0-.896-4.989c-.33-1.507-.692-2.85-1.086-4.002-7.005-2.78-19.355-4.93-34.242-6.35C115.19.65 99.003-.04 82.896.002zM33.911 3.769a63.17 63.17 0 0 0-.536 3.48 88.167 88.167 0 0 0 .167-1.228 63.205 63.205 0 0 1 .369-2.252zm4.708 2.864zm91.605 5.086a402.674 402.674 0 0 1 5.665.49 336.796 336.796 0 0 1-2.8-.253c-.944-.082-1.9-.16-2.865-.237zm-50.612.788zm-47.06 4.81a232.466 232.466 0 0 0-.192 5.13 316.377 316.377 0 0 0 .085-2.62c.032-.855.068-1.692.107-2.51zm98.784 10.207zM90.05 32.891zm74.179 3.58zM13.197 58.625zm4.374.057zm-13.308.007zm149.448 1.285zm-20.232 21.93zm-.022 2.82zm17.337 13.705z'/%3E%3C/svg%3E%0A")
    center center no-repeat;
  background-size: contain;
  position: relative;
  z-index: 2;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 3% 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 11/7;
}

.game-board {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(var(--grid-width), 1fr);
  grid-template-rows: repeat(var(--grid-height), 1fr);
  position: relative;
  border: 1px solid;
  border-image: conic-gradient(
      from var(--angle),
      $yellow,
      $green,
      $purple,
      $pink
    )
    1;
}

.light {
  position: absolute;
  bottom: 2%;
  right: 6%;
  z-index: 2;
  width: 12px;
  height: 12px;
  background-color: $yellow;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 4px 1px, inset $orange 0 -1px 5px,
    $yellow 0 2px 6px;
  animation: blinkLight 1.5s ease-in-out infinite;
}

@keyframes blinkLight {
  from {
    background-color: $yellow;
  }
  50% {
    background-color: darken($orange--desaturated, 5%);
  }
  to {
    background-color: $yellow;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.game-over {
  font-size: 2rem;
  line-height: 3.5rem;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: white;
  text-shadow: 0 0 10px $blue, 0 0 20px $blue, 0 0 30px $blue, 0 0 40px $blue,
    0 0 55px $blue, 0 0 75px $blue;
}
