<div class="display">
  <div class="game-board-wrapper">
    <div
      class="game-board"
      [style.--grid-width]="(gridSize$ | async)?.width"
      [style.--grid-height]="(gridSize$ | async)?.height"
      *ngIf="(gameOver$ | async) !== true"
    >
      <snake-game-tile
        *ngFor="let tile of tiles$ | async"
        [tile]="tile"
      ></snake-game-tile>
    </div>
    <div class="game-over" *ngIf="gameOver$ | async">
      Game over, you crashed!
    </div>
  </div>
  <div class="light"></div>
</div>
