<div class="display">
  <div class="game-board-wrapper">
    <div
      class="game-board"
      [style.--grid-width]="(gridSize$ | async)?.width"
      [style.--grid-height]="(gridSize$ | async)?.height"
      *ngIf="(gameOver$ | async) !== true"
    >
      <snake-game-tile
        *ngFor="let tile of tiles$ | async"
        [tile]="tile"
      ></snake-game-tile>
    </div>
    <div class="game-over" *ngIf="gameOver$ | async">
      <p>
        Game over, you crashed with a score of
        <strong class="score">{{ score$ | async }}</strong
        >!
      </p>
      <a
        class="game-over__share"
        [href]="twitterShareUrl(score$ | async)"
        target="_blank"
      >
        <img src="/assets/images/twitter.svg" alt="Share on Twitter" />
        Share my result
      </a>
    </div>
  </div>
  <div class="light"></div>
</div>
