<div class="display">
  <div class="game-board-wrapper">
    <div
      class="game-board"
      [style.--grid-width]="gridSize().width"
      [style.--grid-height]="gridSize().height"
      *ngIf="!gameOver()"
    >
      <snake-game-tile
        *ngFor="let tile of tiles()"
        [tile]="tile"
      ></snake-game-tile>
    </div>
    <div class="game-over" *ngIf="gameOver()">
      <p>
        Game over, you crashed with a score of
        <strong class="game-over__score">{{ score() }}</strong
        >!
      </p>
      <a class="game-over__share" [href]="twitterShareUrl()" target="_blank">
        <img src="/assets/images/twitter.svg" alt="Share on Twitter" />
        Share my result
      </a>
    </div>
  </div>
  <div class="light"></div>
</div>
